@media(max-width:1280px){
    /* .click{
            width:100% !important;
    }
    .hov{
        width: 96.8% !important;
    }
    .hov img{
        width: 80% !important;
    } */
    .hov{
        display: none !important;
    }
    .soft div{
        display: inherit !important;
    }
    .click2 {
        display: inherit !important;
    }
    .click2 a{
       padding-top: 15px !important;
       color: white;
    }
}
@media(max-width:999px){
    .click2{
        margin-left: 9px !important;
    }
    .soft{
        margin-left: 9px !important;
    }
}
@media(max-width:700px){
    .click2{
        margin-left: 5px !important;
    }
    .soft{
        margin-left: 5px !important;
    }
}
@media(max-width:500px){
    .click2{
        margin-left: 0px !important;
    }
    .soft{
        margin-left: 0px !important;
    }
    div .text{
        margin-left: -100px !important;
    }
}

