@media(max-width:1280px){
    .icon{
        margin-left: 400px !important;
    }
}
@media(max-width:1173px){
    .icon{
        margin-left: 300px !important;
    }
}
@media(max-width:1048px){
    .icon{
        margin-left: 200px !important;
    }
    .money{
        width: 700px !important;
    }
}
@media(max-width:1011px){
    .footter{
        margin-top: 2px !important;
    }
}
@media(max-width:999px){
    .footter{
        margin-top: 20px !important;
    }
}
@media(max-width:930px){
    .icon{
        margin-left: 100px !important;
    }
    .money{
        width: 600px !important;
    }
}
@media(max-width:890px){
    .footter{
        width: 892px !important;
    }
    .last{
        width: 892px !important;
    }
}
@media(max-width:855px){
    .footter{
        margin-top: 140px !important;
    }
}
@media(max-width:804px){
    .icon{
        margin-left: 50px !important;
    }
    .money{
        width: 600px !important;
    }
    .rig{
        font-size: 8px !important;
    }
    .read img{
        width: 20px !important;
        height: 20px!important;
    }
}
@media(max-width:797px){
    .footter{
        width: 101% !important;
    }
    .last{
        width: 101% !important;
    }
}
@media(max-width:789px){
    .footter{
        width: 101.5% !important;
    }
    .last{
        width: 101.5% !important;
    }
}
@media(max-width:784px){
    .footter{
        width: 101.9% !important;
    }
    .last{
        width: 101.9% !important;
    }
}
@media(max-width:780px){
    .footter{
        width: 102.5% !important;
    }
    .last{
        width: 102.5% !important;
    }
}
@media(max-width:776px){
    .footter{
        width: 103% !important;
    }
    .last{
        width: 103% !important;
    }
}
@media(max-width:774px){
    .footter{
        width: 103.3% !important;
    }
    .last{
        width: 103.3% !important;
    }
}
@media(max-width:773px){
    .footter{
        width: 103.5% !important;
    }
    .last{
        width: 103.5% !important;
    }
}
@media(max-width:718px){
    .icon{
        margin-left: 0px !important;
    }
    .money{
        width: 500px !important;
    }
    .rig{
        font-size: 8px !important;
    }
    .read img{
        width: 20px !important;
        height: 20px!important;
    }
}
@media(max-width:709px){
    .footter{
        width: 740px !important;
    }
    .last{
        width: 740px !important;
    }
}
@media(max-width:684px){
    .footter{
        margin-top: 340px !important;
    }
}
@media(max-width:600px){
    .footter{
        width: 100% !important;
    }
    .last{
        width: 100% !important;
    }
    .terms{
        padding-left: 50px !important;
    }
    .money{
        width: 400px !important;
    }
}
@media(max-width:597px){
    .footter{
        width: 600px !important;
    }
    .last{
        width: 600px !important;
    }
}
@media(max-width:555px){
    .footter{
        width: 555px !important;
    }
    .last{
        width: 555px !important;
    }
    .money{
        width: 300px !important;
    }
    .icon img{
        width: 20px !important;
        height: 20px !important;
    }
    .last{
        font-size: 5px !important;
    }
}
@media(max-width:517px){
    .footter{
        margin-top: 800px !important;
    }
}
@media(max-width:500px){
    .footter{
        width: 500px !important;
    }
    .last{
        width: 500px !important;
    }
}
@media(max-width:455px){
    .footter{
        width: 455px !important;
    }
    .last{
        width: 455px !important;
    }
    .icon{
        margin-left: -100px !important;
    }
    .money{
        width: 200px !important;
    }
}
@media(max-width:400px){
    .footter{
        width: 404px !important;
    }
    .last{
        width: 404px !important;
    }
}
@media(max-width:375px){
    .footter{
        width: 381px !important;
    }
    .last{
        width: 381px !important;
    }
}