@font-face {
    font-family: Jah;
    src: url(./Roboto_Flex/RobotoFlex-VariableFont_GRAD\,XTRA\,YOPQ\,YTAS\,YTDE\,YTFI\,YTLC\,YTUC\,opsz\,slnt\,wdth\,wght.ttf);
  }
  body{
    background-color: black !important;
    font-family: Jah !important;
    margin: 0px;
    padding: 0px;
  }
  nav {
    background-color: #373A45;
    margin-top: -5px;
    width: 100%;
    position: fixed !important;
    top: 0px;
    z-index: 500;
  }
  nav img {
    width: 150px;
  }
  nav a {
    color: white !important;
    font-size: 15px;
  }
  nav a:hover {
    color: #FFCD00 !important;
  }
  nav a:active {
    color: #FFCD00;
  }
  nav button {
    margin-top: 6px;
    border: none;
    font-size: 12px;
    padding: 6px 20px 9px 20px;
    background-color: #0D7B3C;
    color: white;
    border-radius: 3px;
  }
  .left{
    background-color: #22252B;
    height: 100vh;
    width: 19%;
    position: sticky !important;
    left: 0%;
    top: 13.5%;
  }
  .love{
    height: 950px;
    margin-top: 90px;
    margin-left: 12px;
    width: 1065.5px;
  }
  .take{
    border-bottom: 1px solid #373A45;
    width: 1065.5px;
  }
  #me a{
    color: hsla(0,0%,100%,.75);
    text-decoration: none;
    font-size: 12px;
    font-family: jah,sans-serif;
  }
  .flow{
    width: 1065.5px;
    height: 30px;
    background-color: #515360;
    text-align: center;
  }
  .move{
    color: white;
  }
  .hov{
    background-color: #383A45;
    width: 1065.5px;
    height: 600px;
    margin-top: 15px;
  }
  .click a{
    color: #CBCBCD;
  }
  .click a:hover{
    color: #CBCBCD;
    text-decoration: none;
  }
  .container {
    position: relative;
    width: 50%;
  }
  
  .image {
    opacity: 1;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 59%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }
  .main{
    margin-top: 15px;
  }
  .main div{
    margin-right: 7px;
  }
  .left input{
    font-size: 11px;
    background-color: #3D414B;
    border: none;
    outline: none;
    width: 225px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 15px;
    margin-left: 15px;
  }
  .fa-search{
    color: #BBBBBB;
    margin-left: -40px;
    margin-top: 25px;
    font-size: 20px;
    font-weight: lighter;
  }
  .left a{
    color: #A7A7A9;
  }
  .left a:hover{
    color: #72E49F;
    text-decoration: none;
  }
  .footter a{
    color: #31A554;
    font-size: 12px;
  }
  .footter a:hover{
    color: white;
    text-decoration: none;
  }
  .left2{
    width: 1165px;
    height: 270px;
    background-color: #37444E;
    border-top: 4px solid #31A554;
  }
  .right2{
    width: 230px;
    height: 270px;
    background-color: #3D434E;
    border-top: 4px solid red;
  }
  .right{
    margin-top: -3.8px;
  }
 .tog a{
  color: #5D6065;
 }
 .tog a:hover{
  color: #5D6065;
 }
  
