@media(max-width:1280px){
    .take{
        width: 1000px !important;
    }
}
@media(max-width:1230px){
    .take{
        width: 970px !important;
    }
}
@media(max-width:1130px){
    .take{
        width: 950px !important;
    }
}
@media(max-width:1125px){
    .take{
        width: 930px !important;
    }
}
@media(max-width:1105px){
    .take{
        width: 920px !important;
    }
}
@media(max-width:1095px){
    .take{
        width: 900px !important;
    }
}
@media(max-width:1075px){
    .take{
        width: 850px !important;
    }
}
@media(max-width:1025px){
    .take{
        width: 820px !important;
    }
}
@media(max-width:999px){
    .take{
        width: 970px !important;
    }
}
@media(max-width:986px){
    .take{
        width: 960px !important;
    }
}
@media(max-width:973px){
    .take{
        width: 950px !important;
    }
}
@media(max-width:958px){
    .take{
        width: 930px !important;
    }
}
@media(max-width:943px){
    .take{
        width: 910px !important;
    }
}
@media(max-width:920px){
    .take{
        width: 880px !important;
    }
}
@media(max-width:874px){
    .take{
        width: 840px !important;
    }
}
@media(max-width:855px){
    .take{
        width: 820px !important;
    }
}
@media(max-width:831px){
    .take{
        width: 800px !important;
    }
}
@media(max-width:812px){
    .take{
        width: 780px !important;
    }
}
@media(max-width:793px){
    .take{
        width: 760px !important;
    }
}
@media(max-width:774px){
    .take{
        width: 730px !important;
    }
}
@media(max-width:746px){
    .take{
        width: 710px !important;
    }
}
@media(max-width:712px){
    .take{
        width: 680px !important;
    }
}
@media(max-width:694px){
    .take{
        width: 650px !important;
    }
}
@media(max-width:666px){
    .take{
        width: 620px !important;
    }
}
@media(max-width:635px){
    .take{
        width: 600px !important;
    }
}
@media(max-width:614px){
    .take{
        width: 570px !important;
    }
}
@media(max-width:585px){
    .take{
        width: 550px !important;
    }
}
@media(max-width:564px){
    .take{
        width: 520px !important;
    }
}
@media(max-width:534px){
    .take{
        width: 500px !important;
    }
}
@media(max-width:515px){
    .take{
        width: 480px !important;
    }
}
@media(max-width:490px){
    .take{
        width: 460px !important;
    }
}
@media(max-width:473px){
    .take{
        width: 440px !important;
    }
}
@media(max-width:453px){
    .take{
        width: 420px !important;
    }
}
@media(max-width:433px){
    .take{
        width: 400px !important;
    }
}
@media(max-width:415px){
    .take{
        width: 380px !important;
    }
}
@media(max-width:392px){
    .take{
        width: 340px !important;
    }
}
